/*font-family: 'Raleway', sans-serif;
font-family: 'Space Mono', monospace; */

html {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom right, #fb93fc, #34e1fb);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    align-self: flex-end;
}
nav ul li {
    display: inline-block;
}
nav ul a {
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 2.4em;
    margin-right: 3vw;
    color: black;
}
nav ul a:hover {
    color: white;
}

h1 {
    text-align: center;
    font-size: 5vh;
}
.windows {
    width: 80%;
    margin: auto;
    background: white;
    border-radius: 15px;
    box-shadow: 1em 1em 1em .5em rgba(0, 0, 0, 1);
    margin-top: 3vh;

}
.bar {
    border-bottom: 0.5vmin solid black;
    display: flex;
}
.bar h2 {
    font-size: 4vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    font-family: 'Space Mono', monospace;
}
.dot {
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin-left: auto;
    margin-right: 3vw;
    margin-top: 3.6vh;
}
.welcome p {
    width: 45%;
    margin: auto;
    padding-bottom: 3vh;
}
.projects {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}
.projects img{
    height: 50vh;
    margin-top: 1em;
}
.description {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}
.description h4 {
    font-family: 'Space Mono', monospace;
    background-color: #34e1fb;
    width: 6em;
    border-radius: 15px;
    text-align: center;
    padding: .2vmax;
}
.description p {
    width: 40%;
}

.contact {
    text-align: center;
    padding: 3vmax;
}
.contact h3 {
    font-size: 3vh;
    margin-top: .5em;
   
}
.contact p {
    width: 40%;
    margin: auto;
    padding-bottom: 2.3em;
}
.contact a {
    text-decoration: none;
    background-color: #34e1fb;
    border-radius: 15px;
    padding: .2vmax;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: black;

}
.contact a:hover {
    color: white;
}
footer {
    margin-top: 3em;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
footer ul li {
    display: inline-block;
}
footer a {
    margin: 2vmax;
}
footer img {
    height: 5vh;
}