/*font-family: 'Raleway', sans-serif;
font-family: 'Space Mono', monospace; */

html {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom right, #fb93fc, #34e1fb);
    background-repeat: no-repeat;
}
.windows {
    width: 80%;
    margin: auto;
    background: white;
    border-radius: 15px;
    box-shadow: 1em 1em 1em .5em rgba(0, 0, 0, 1);
}
.bar {
    border-bottom: 0.5vmin solid black;
    display: flex;
}
.bar h2 {
    font-size: 4vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    font-family: 'Space Mono', monospace;
}
.dot {
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin-left: auto;
    margin-right: 3vw;
    margin-top: 3.6vh;
}
footer {
    color: white;
}